// Define variables for your color scheme

$white-rose: #F8E5EE;
$carnation: #9F2042;
$poinsettia: #7B0D1E;
$soil: #3D1308;
$compost: #211103;

// LitLoop colors:
$purple: #381460;
$berry: #b21f66;
$activewear: #fe346e;
$wheat: #ffbd69;
$eggplant: #74546a;
$black: #000000;
$purple-black: #0C032D;
$light-gray: #F4F4F4;
