// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap');

// OPTIONAL DIRECTORY FONTS
@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:wght@100;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
// font-family: 'Shadows Into Light', cursive;



// Define fonts for body and headers
$headers-font: 'Nova Mono', monospace;
$headers-font-secondary: "Lobster Two", "cursive";
$body-font: 'Shadows Into Light', cursive;
$logo-font: 'Victor Mono', monospace;

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
