// CONTAINER FOR ADD AND SEARCH
.atlas-actions {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  top: 0;
}

.search-container {
  display: inline-block;
  top: 0;
  background: transparent;
  justify-content: center;
  align-items: center;
  padding: 10px;
  z-index: 1;
}

.search-container form {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-100%, 0%);
  transition: all 1s;
  width: 50px;
  height: 50px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px;
}

.search-container form input[type="text"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;

}

.search-container form button {
  background: none;
  border: none;
  padding: 5px;
  cursor: pointer;
}

// SEARCH ICON
.search-container form button i {
  font-size: 1.3em;
  color: black;

  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  text-align: center;
  transition: all 1s;
}

// Add Button on Atlas
#add_nook {
  // Button Physicality
  width: 50px;
  height: 50px;
  background-color: rgba(255,222,244,0.8);
  border-radius: 5px;
  border:none;

  // Button Environment
  z-index: 1000;
  display: inline-block;
  position: fixed;
  text-align: center;
  vertical-align: center;

}

.fa-plus {
  display: fixed;
  color: $danger;
  font-size: 25px;
  margin-top: 7px;
}

.atlas-add {
  margin-top: 86vh;
  margin-left: 4vw;
}

form:hover,
form:valid{
  width: 320px;
  cursor: pointer;
}

form:hover input,
form:valid input{
  display: block;
}

form:hover .fa,
form:valid .fa{
  background: #07051a;
  color: white;
}

form:valid a {
display: block;
}
