// Import page-specific CSS files here.
@import "home";
@import "user_authentication";

// Screen Settings
// Set Full View Height to a Grid to Keep Directory Fixed
// Inner div class="screen-content"
// Inner div class="global-directory"

.application-wrapper {
  display: grid;
  min-height: 100vh;
  grid-template-rows: 1fr auto;
}

#map-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#add_nook {
  position: absolute;
  bottom: 60px;
  color: blue;
  font-size: 30px;
}

#add_nook a {
  text-decoration: none;
}

.search-container {
  position: absolute;
  top: 0;
  width: 100%;
  background: transparent;
  display: flex;
  justify-content: center; /* Align the form to the right */
  align-items: center;
  padding: 10px; /* Smaller padding */
  z-index: 1;
}

.search-container form {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  padding: 5px; /* Smaller padding */
  display: flex;
  align-items: center;
}

.search-container form input[type="text"] {
  width: auto; /* Auto width for the text input */
  border: none;
  padding: 5px; /* Smaller padding */
  margin: 0 5px; /* Small margin around the text input */
}

.search-container form button {
  background: none;
  border: none;
  padding: 5px;
  cursor: pointer;
}

/* Style for the search icon */
.search-container form button i {
  font-size: 20px; /* Adjust the icon size as needed */
  color: #007bff; /* Icon color */
}