// Import page-specific CSS files here.
@import "home";
@import "user_authentication";

// Screen Settings
// Set Full View Height to a Grid to Keep Directory Fixed
// Inner div class="screen-content"
// Inner div class="global-directory"

.application-wrapper {
  display: grid;
  min-height: 100vh;
  grid-template-rows: 1fr auto;
}

#map-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#add_nook {
  position: absolute;
  bottom: 60px;
  color: blue;
  font-size: 30px;
}

#add_nook a {
  text-decoration: none;
}