@import "atlas";
@import "edit";
@import "home";
@import "show";
@import "user_authentication";

.show-page-wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

#search-bar {
  width: 59%;
  position: relative;
  margin-left: 20%;
  margin-top: 3%;
  border: 1px solid $info;
  background-color: $info;
}

#search-bar:focus {
  color: $danger;
}
