.nook-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
  color: white;
  text-align: center;

  h1 {
    font-weight: bolder;
    font-size: 5vh;
    font-family: $header-font;
  }

  h4 {
    font-family: $logo-font;
  }
}

.show-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 5px 35px;
  margin-bottom: 10px;
}

.crud-links {
  margin-bottom: 10px;

  :hover {
    color: $info;
  }
}

#logout {
  margin-bottom: 15px;
  a {
    text-decoration: none;
  }

  :hover {
    color: $info;
  }
}

.show-page-wrapper {
  background: linear-gradient(to top, #582E8A 0%, #FFDEF4 100%);
}

.all-footnotes {
  .btn {
    border-radius: 50px;
  margin-left: 28vw;
  }
}
