.container-user {
  background-color: $purple;
  height: 200vw;
}

.logo {
  color: $wheat;
}

.signup-input {
  font-family: $body-font;
  color: $wheat;
  border-radius: 5%;
}

.form-control {
  border-radius: 5px;
}
