// .logo {
//   color: $wheat;
// }

// .signup-input {
//   font-family: $body-font;
//   color: $wheat;
//   border-radius: 5%;
// }

// .form-control {
//   border-radius: 5px;
// }

/* Gradient Background */
.container-user {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  background-image: linear-gradient(-45deg, rgba(170,71,72,1) 0%, rgba(230,100,101,1) 30%, rgba(119,126,210,1) 70%, rgba(51,0,122,1) 100%);
  -webkit-animation: AnimateBG 20s ease infinite;
          animation: AnimateBG 20s ease infinite;
}

@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Logo Styles */
.logo {
  color: #fff; /* Text color for the logo */
  font-size: 2rem; /* Adjust the font size as needed */
  margin-bottom: 20px;
}

/* Form Styles */
.signup-input {
  font-family: $body-font;
  color: #fff; /* Text color for form inputs */
  border-radius: 10px; /* Add border radius */
  background: rgba(255, 255, 255, 0.2); /* Adjust transparency for form inputs */
  padding: 10px;
  margin-bottom: 10px;
  border: none; /* Remove the default border */
  outline: none; /* Remove the default outline */
}

/* Form Control Styles */
.form-control {
  border-radius: 10px; /* Add border radius */
  background: rgba(255, 255, 255, 0.2); /* Adjust transparency for form controls */
  padding: 10px;
  margin-bottom: 10px;
  border: none; /* Remove the default border */
  outline: none; /* Remove the default outline */
}

/* Cool Animation for LitLoop Title */
.logo {
  animation: fadeIn 15s ease; /* Adjust the animation duration and easing as needed */
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

// .logo {
//   animation: fadeInOut 60s ease infinite; /* Adjust the animation duration and easing as needed */
// }

// @keyframes fadeInOut {
//   0%, 100% {
//     opacity: 0;
//   }
//   50% {
//     opacity: 1;
//   }
// }
