/* Gradient Background */
.container-user {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  background-image: linear-gradient(-45deg, rgba(170,71,72,1) 0%, rgba(230,100,101,1) 30%, rgba(119,126,210,1) 70%, rgba(51,0,122,1) 100%);
  -webkit-animation: AnimateBG 20s ease infinite;
          animation: AnimateBG 20s ease infinite;
}

@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

// LOGO STYLES
.logo {
  color: $header-font;
  font-size: 2rem;
  margin-bottom: 20px;
}

// FORM STYLES
.signup-input {
  font-family: $text-font;
  color: #fff; /* Text color for form inputs */
  border-radius: 10px; /* Add border radius */
  background: rgba(255, 255, 255, 0.2); /* Adjust transparency for form inputs */
  padding: 10px;
  margin-bottom: 10px;
  border: none; /* Remove the default border */
  outline: none; /* Remove the default outline */
}

.signup-input-remember {
  font-family: $text-font;
  color: #fff; /* Text color for form inputs */
  border-radius: 10px; /* Add border radius */
  background: rgba(255, 255, 255, 0.2); /* Adjust transparency for form inputs */
  padding: 10px;
  margin-bottom: 10px;
  border: none; /* Remove the default border */
  outline: none; /* Remove the default outline */
}

.login-inputs {
  font-family: $header-font;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Form Control Styles */
.form-control {
  border-radius: 10px; /* Add border radius */
  background: rgba(255, 255, 255, 0.2); /* Adjust transparency for form controls */
  padding: 10px;
  margin-bottom: 10px;
  border: none; /* Remove the default border */
  outline: none; /* Remove the default outline */
}


@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

//starting over here
.user-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login-links {
  text-decoration: none;
}
