<div class="directory container">
  <div id="almanac"><a href="<%= pages_dashboard_path %>">ALMANAC</a></div>

  <div id="create">
    <%= link_to nooks_path do %>
      <%= image_tag 'plus-sign.png' %>
    <% end %>
  </div>

  <div id="discover"><a href="<%= pages_feed_path %>">DISCOVER</a></div>
</div>
