<div class="directory">
  <div id="almanac"><a href="<%= pages_dashboard_path %>">almanac</a></div>

  <div id="create">
    <%= link_to nooks_path do %>
      <span style="font-size: 42px; color: white;">
        <i class="fa-solid fa-globe"></i>
      </span>
    <% end %>
  </div>

  <div id="discover"><a href="<%= pages_feed_path %>">discover</a></div>
</div>
