<div class="directory container border-top">

  <div id="almanac"><a href="<%= pages_dashboard_path %>">ALMANAC</a></div>

  <div id="create">
    <%= link_to new_nook_path do %>
      <%= image_tag 'plus-sign.png' %>
    <% end %>
  </div>

  <div id="discover"><a href="<%= pages_feed_path %>">DISCOVER</a></div>

</div>
