<h2>Most Recently Added Footnotes</h2>
<div class="footnote-cards">
  <% @recently_added_footnotes.each do |footnote| %>
    <div class="footnote-card">
      <p class="footnote-text"><%= footnote.text %></p>
      <p class="author">
       <%= link_to "#{footnote.user[:username]}", user_path(footnote.user) %>
      </p>
       <p class="timestamp">
        <%= footnote.created_at.strftime('%B %d, %Y at %I:%M %p') %>
      </p>
    </div>
  <% end %>
</div>
