<h2>New Footnotes on your NookBooks</h2>

<div class="all-footnotes">
  <% current_user.nooks.each do |nook| %>
    <% nook.footnotes.each do |footnote| %>
    <div class="footnote">
     <%= link_to footnote.user.username, user_path(footnote.user) %>
     on <%= link_to footnote.nook.name, nook_path(footnote.nook) %></p>
      <%= footnote.created_at.strftime('%B %d, %Y') %></p>
      <%= footnote.text %></p>
    <% end %>
  <% end %>
    </div>
</div>
      


