
<div class="container all-footnotes mt-5 mb-5">
  <div class="footnote-inner card-favorite">
    <p> LATEST FOOTNOTES </p>
      <% @footnotes.each do |footnote| %>
        <li><%= footnote.name %></li>
      <% end %>
  </div>
