<center><h1>ALMANAC</h1></center>

<div class="container all-footnotes mt-5 mb-5">
  <div class="footnote-inner card-favorite">
    <p> YOUR FAVORITE NOOKS </p>
    <% @favorite_nooks.each do |nook|%>
      <%= nook.name %>
      <%# // put nice card (carousel) for each nook :)  %>
    <% end %>
  </div>

<div class="container all-footnotes mt-5 mb-5">
  <div class="footnote-inner card-favorite">
    <p> LATEST FOOTNOTES </p>
    <% @my_footnotes.each do |footnote|%>
      <%= footnote.text %>
    <% end %>
  </div>
