<center><h1>DISCOVER</h1></center>

<div class="nook-map" style="width: 100vw; height: 200px;"
  data-controller="map"
  data-map-markers-value="<%= @marker.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>

<div class="container all-footnotes mt-5 mb-5">
  <div class="footnote-inner">
    <p>This nook is my go-to. I’m so glad I found it on BookNook. The staff are adept at fostering an atmosphere of cosiness and ease.</p>
  </div>
  <div class="footnote-inner">
    <p>Here is the latest spot I found. I read The Wizard of Oz here. It’s been over 20 years since reading Frank L. Baum’s classic! The large wooden swing set was perfect for the nostalgic trip...</p>
  </div>
  <div class="footnote-inner">
    This is a note This is a note This is a note This is a note This is a note This is a note
    This is a note This is a note This is a note This is a note This is a note This is a note
    This is a note This is a note This is a note This is a note This is a note This is a note
  </div>
  <div class="footnote-inner">
      <p>Idyllic lakeside knoll with wild birds. Lots of trees for shelter and shade. Good grass. Busy with people walking through, but still peaceful.</p>
  </div>
</div>
