<%= link_to nook, data: { nook_id: nook.id }, class: 'favorite-link' do %>
  <% if nook.photos.any? %>
    <div class="preview-window">
      <%= cl_image_tag nook.photos.first.key, class: "preview-image" %>
    </div>
  <% end %>

  <div class="preview-nook-info">
    <div class="preview-nook-name col-sm-8"><span><%= nook.name %></span></div>
    <div data-controller="icon-heart" class="preview-nook-stats">
      <%= link_to nook_favorites_path(nook), class: "text-deco-none", data: { turbo_method: :post } do %>
        <div data-action="click->icon-heart#favored_nook" class="stats-wrapper"><i class="fa-solid fa-heart" data-icon-heart-target="heart"></i><span class="stats-count">189</span></div>
      <% end %>
        <div class="stats-wrapper"><i class="fa-solid fa-comment-dots"></i><span class="stats-count">13</span></div>
    </div>
  </div>
<% end %>
