<div class="preview-container">
  <div class="preview-card">

    <div class="preview-window">
      <%= image_tag "1.png", class: "preview-image" %>
    </div>

      <div class="preview-nook-info">
        <div class="preview-nook-name col-sm-8"><span>Nook Name</span></div>
        <div class="preview-nook-stats col-sm-4">
          <div class="stats-wrapper"><img class="favourite-icon" src="https://cdn3.iconfinder.com/data/icons/minicons-for-web-sites/24/minicons-48-512.png"><span class="favourite-count">189</span></div>
          <div class="stats-wrapper"><img class="footnotes-icon" src="http://www.freeiconspng.com/uploads/comment-png-3.png"><span class="comment-count">13</span></div>
        </div>
      </div>

  </div>
</div>
