<%# nooks#index - app/views/nooks/index.html.erb %>

<% @nooks.each do |nook| %>
<p><%= link_to nook.name, nook_path(nook) %></p>
<% end %>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
