<%# nooks#index - app/views/nooks/index.html.erb %>

<div class="container">
  <div id="map-container" data-controller="map" data-map-markers-value="<%= @markers.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

  <style>
    #map-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  </style>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var mapElement = document.getElementById('map-container');
      var mapMarkers = JSON.parse(mapElement.getAttribute('data-map-markers-value'));
      var mapApiKey = mapElement.getAttribute('data-map-api-key-value');

      mapboxgl.accessToken = mapApiKey;

      var map = new mapboxgl.Map({
        container: 'map-container',
        style: 'mapbox://styles/mapbox/streets-v11', // Replace with your desired map style URL
        center: [-74.006, 40.7128], // Adjust the initial center coordinates
        zoom: 12, // Adjust the initial zoom level
      });

      // Add your map markers and other customization here
    });
  </script>
</div>
