<div id="map-container" data-controller="map" data-map-markers-value="<%= @markers.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
<%= link_to new_nook_path, id: "add_nook" do %> 
<i class="fa fa-plus my-float"></i>
<% end %>
