<h1>nooks#new</h1>
<p>Find me in app/views/nooks/new.html.erb</p>
<%= link_to "nooks#index", nooks_path %>
<br>
here is an example of the basic af preview card I made today
<%= render "preview_card" %>
i am very sorry what a waste of a day
