// .btn {
//  // TBD: add shape/color/.. that will apply to all btn
// }

.btn-signup {
  // TBD: add colors matching brets pallette
  display: flex;
  font-family: $logo-font;
  color: $black;
  background-color: $hellgruen;
  border-radius: 5px;
  width: 273px;
  height: 46px;
  padding: 8px 13px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
