// .btn {
//  // TBD: add shape/color/.. that will apply to all btn
// }

.btn-signup {
  display: flex;
  align-text: center;

  width: 160px;
  height: 46px;

  border-radius: 5px;
  padding: 8px 13px;

  margin-top: 40px;
  margin-left: 80px;

  background-color: $body-bg;
  font-family: $logo-font;
  color: $black;
}
