.btn {
  background-color: transparent;
  color: $primary;
  border: 1px solid $primary;
  border-radius: $border-radius;
}

.btn:hover {
  background-color: $primary;
  color: $danger;
  border: 1px solid $primary;
  border-radius: $border-radius;

}

.btn-signup {
  display: flex;
  align-content: center;
  font-family: $logo-font;
  color: $black;
  background-color: $body-bg;
  border-radius: $border-radius;
  width: 86%;
  margin-left: 7%;
  height: 46px;
  border-radius: 5px;
  padding: 8px 13px;
  margin-top: 20px;
  background-color: $body-bg;
  font-family: $logo-font;
  color: $black;
}
