#from-show-to-index {
  margin-top: 10px;
  padding: 5px;
  text-align: center;
  align-content: center;
  background-color: $white-rose;
  color: $soil;
  border-radius: 50px;
  box-shadow: white;
  width: 200px;
}

#from-show-to-index a {
  text-decoration: none;
  color: $soil;
}
