.global-directory {
  position: sticky;
  bottom: 0;
  z-index: 10;
}

.directory {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  background: $hellgruen;
  position: fixed;
  bottom: 0;
  z-index: 100;
  border-top: 1px solid white;
}

.directory a {
  text-decoration: none;
  font-size: 25px;
  color: $earth;
}

.directory img {
  display: flex;
  height: 50px;
  object-fit: fill;
}

#almanac, #discover {
  display: flex;
  justify-content: center;
}
