.directory {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  background: $hellgruen;
}

.directory a {
  text-decoration: none;
  font-size: 25px;
  color: $earth;
}

.directory img {
  display: flex;
  height: 50px;
  object-fit: fill;
}

#almanac, #discover {
  display: flex;
  justify-content: center;
}
