.filter-container {
  display: grid;
  column-gap: 2px;
  row-gap: 2px;
  position: absolute;
  top: 10px;
  width: 100vw;
  color: black;
  background-color: white;
}

.filter-div {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  align-items: center;
  padding: 1px;
  margin: 3px;

}
.col-form-label {
  display: none;
}
.category-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 1px;
  margin: 3px;
}

.category-item {
  width: 85px;
  display: flex;
  margin: 0 5px;
  height: 48px;
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label {
  cursor: pointer;
  width: 100%;
  font-size: 24px;
  margin: 2px;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  background-color: lightblue;
  text-align: center;
  padding-top: 3px;
}

.category-selector:checked + label {
  color: white !important;
  background-color: palevioletred;
}
