.filter-div {
  display: flex;
  flex-wrap: wrap;
  width: 12vw;
  align-items: center;
  padding: 1px;
  margin: 3px;
}

.col-form-label {
  display: none;
}

// .category-wrapper-1, .category-wrapper-3
.category-wrapper-2 {
  display: inline-block;
  position: sticky;
  margin-top: 2px;
  margin-left: 12px;
  // flex-wrap: wrap;
  // justify-content: start;
  // align-content: flex-end;
  // background-color: rgba(255, 255, 255, 0.1);
  // backdrop-filter: blur(2px);
}

.category-item {
  width: 55px;
  display: flex;
  margin: 0 1px;
  height: 53px;
}

.category-selector {
  position: absolute;
  transform: scale(0);
  justify-content: center;
  flex-wrap: wrap;
}

.category-selector + label {
  background-color: $danger;
  color: $primary;

  width: 40px;
  height: 40px;
  font-size: 19px;
  text-align: center;
  align-items: center;

  border: 2px solid;
  border-radius: 50%;

  margin-bottom: auto;
  padding: 2px;

  cursor: pointer;
}

.category-selector:checked + label {
  background-color: $info;
  color: $danger !important;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  cursor: pointer;
  // transition: 2s;

  padding: 2px;
  margin-left: 17vw;

  background-color: transparent;
  color: $primary;
  border: 1px solid darkgrey;
  border-radius: 50px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: $primary;
  color: $danger;
  border: 1px solid $primary;
  border-radius: 50px;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  color: white;
  background-color: transparent;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-left: -13px;
}

#more-filters {
  background-color: $primary;
  color: $danger;

  width: 45px;
  height: 44px;
  font-size: 25px;
  text-align: center;
  align-items: center;

  // border: 2px solid;
  border-radius: 5px;

  margin-top: 13px;
  margin-left: -2px;

  position: absolute;
  top: 0;
  cursor: pointer;
}
