.all-footnotes {
  color: white;
  justify-content: center;
  align-content: center;
  text-align: center;

  button {
    font-size: 25px;
    width: auto;
  }
}

.dropdown-form {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin-top: 25px;
  transition: 3s ease;
}

#footnote_input {
  color: white;
}
