// @import "compass/css3";

// Postcard

$stripe: #B8E1FF;
$stripes: #F8E5EE;

.footnote-inner { // Postcard "inside"
  width: 400px;
  margin: 0px auto;
  padding: 10px 20px;
  background: #fff;
  position: relative;
  border-radius: 3px;
}

.footnote-inner:after { // Postcard border
  content: '';
  background: repeating-linear-gradient(
    45deg,
    $stripe,
    $stripe 10px,
    #fff 10px,
    #fff 20px,
    $stripes 20px,
    $stripes 30px,
    #fff 30px,
    #fff 40px
  );
  // For wider stripes, I'd use an image to reduce jagged edges
  padding: 20px;
  border-radius: 6px;
  box-shadow: 1px 2px 6px 1px rgba(76, 66, 47, 0.75);
  width: calc(100% - 24px);
  height: calc(100% - 24px);
  position: absolute;
  top: -8px;
  left: -8px;
  z-index: -1;
}

// Ribbon

$ribbon-color: $stripes;
$outer-border: 2px;

.footnote-inner h1 {
  display: inline-block;
  margin: 15px 0 10px -28px;
  padding: 10px 15px 5px 30px;
  background: $ribbon-color;
  border-width: 1px 1px 1px 0px;
  color: #3D1308;
  box-shadow: $outer-border 0 0 $outer-border $ribbon-color,
              $outer-border $outer-border 0 $outer-border $ribbon-color,
              $outer-border -#{$outer-border} 0 $outer-border $ribbon-color,
              inset 0 0 5px 2px rgba(0, 0, 0, 0.2);
}

// Type & Staging

// html, body {
//   height: 100%;
// }

.footnote-inner body {
  background: #D3CCC1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Bai Jamjuree', sans-serif;
  background-image: radial-gradient(rgba($stripes,0.075) 15%, transparent 16%),
                    radial-gradient(rgba($stripe,0.05) 15%, transparent 16%);
  background-size: 110px 110px;
  background-position: 0 0, 50px 50px;
  background-color: #D3CCC1;
}

.footnote-inner h1 {
  font-size: 2 rem;
}

.footnote-inner p {
  font-size: 1 rem;
  line-height: 140%;
  margin: 20px 0;
}
