.mapboxgl-ctrl-group {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary;
  width: 39px;
  height: 39px;
  margin: 25px 8px 0 0 !important;
  border-radius: 50px !important;
}

.mapboxgl-ctrl-geocoder {
  max-width: none;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: $border-radius;
  box-shadow: none;
  background-color: transparent;
  color: white;
}

.mapboxgl-ctrl-geocoder--icon {
  fill: $danger;
}

.mapboxgl-ctrl-geocoder--input:focus {
  color: $body-color;
}

.mapboxgl-ctrl-geocoder--input {
  color: $body-color;
}

.input {
  color: $body-color;
}
