.fa-heart {
    // width: 100px;
    // height: 100px;
    color: $primary;
    // position: relative;
    // transform: rotate(-45deg);
    // animation: colorSwitch 2s infinite alternate;
    margin-right: 3px
}

.fa-heart.clicked {
  color: red;
}

.fa-comment-dots {
  color: $primary;

  .clicked {

  }
}
