.fa-heart {
    // width: 100px;
    // height: 100px;
    color: black;
    text-decoration: none;
    // position: relative;
    // transform: rotate(-45deg);
    // animation: colorSwitch 2s infinite alternate;
}

.fa-heart.clicked {
  color: red;
  text-decoration: none;
}
