.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  color: white;

  h1 {
    font-family: $logo-font;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    padding: 14% 14% 5% 14%;
  }

  h5 {
    font-family: $logo-font;
    font-size: 20px;
    font-style: normal;
    font-weight: lighter;
  }

  a {
    text-decoration: none;
    font-size: 20px;
    font-family: $logo-font;
  }
}

.signup-links {
  font-family: $buttons-font;
}

#remember-me {
  background-color: transparent;
}

.delay-1 {
  animation: fadeIn 2s ease;
}

.delay-2 {
  animation: fadeIn 5s ease;
}

.delay-3 {
  animation: fadeIn 10s ease;

}
