// CONTAINER
.preview-container {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  width: 350px;
  height: 200px;
  border-radius: 10px;
}

// CARD
.preview-card {
  width: 100%;
  background: #FAFAFA;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.4);
}

.preview-window {
  display: flex;
  justify-content: center;
  height: 85%;
  background: #FFFFFF;
  object-fit: fill;
}

// IMAGE
.preview-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

// NOOK DATA CONTAINER
.preview-nook-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20%;
  // background-color: rgba(0, 0, 0, 0.4);
  padding-left: 8px;
  padding-right: 8px;
  font-family: 'Victor Mono', monospace;
}

// NOOK DATA
.preview-nook-name {
  display: flex;
  align-items: center;
  justify-content: left;
  color: white;
  font-family: $text-font;
  font-weight: bold;
  font-size: 1em;
  margin-top: 3px;
  margin-bottom: 3px;
}

.preview-nook-stats {
  display: flex;
  align-content: center;
  justify-content: right;
  margin-top: 3px;
  margin-bottom: 3px;
}

.stats-wrapper {
  display: flex;
  align-items: center;
  order: 1;
  width: auto;
  height: 30px;
  margin-right: 8px;
}

.footnotes-icon {
  width: 20px;
  padding: 2px;
  margin-left: 2px;
  margin-right: 2px;
}

.stats-count {
  font-family: $text-font;
  font-weight: bold;
  color: white;
  margin-left: 2px;
  margin-right: 2px;
}

.favourite-icon {
  width: 20px;
  padding: 2px;
  margin-left: 2px;
  margin-right: 2px;
}

.favourite-icon:hover {
  opacity: 0.5;
}

.text-deco-none {
  text-decoration: none;
}
