#search-bar {
  width: 68%;
  position: relative;
  margin-left: 15%;
  margin-top: 3%;
  border: 1px solid $info;
  background-color: $info;
  border-radius: 5px;
}

#search-bar:focus {
  color: $danger;
}
