// Graphical variables
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// APPLICATION.HTML (SCREEN) SETTINGS:
// Set Full View Height to a Grid to Keep Directory Fixed
.application-wrapper {
  display: grid;
  min-height: 100vh;
  max-width: 100vw;
  grid-template-rows: 1fr auto;
}

.filter-container {
  display: grid;
  column-gap: 2px;
  row-gap: 2px;
  position: absolute;
  top: 10px;
  width: 100vw;
  color: black;
  background-color: white;
}

.hide-checkbox {
  position: absolute;
  transform: scale(0);
}

h1 { // page and location names
  color: white;
}

h4 { // coordinates on show page
  color: white;
}
